////////////////////////////////////////
//////////////////////////////////////// Paths
////////////////////////////////////////
$fonts_path: '../fonts';
$images_path: '../images';

////////////////////////////////////////
//////////////////////////////////////// Base
////////////////////////////////////////


$base_sans_font_family: 'Open Sans', Helvetica, Arial, sans-serif !default;
$base_serif_font_family: 'Book Antiqua', Palatino, serif !default;

$ketchup: "material-ketchup";

$base_font_size: 16px !default;
$base_line_height: 1.4rem !default;
$base_padding: 1rem !default; // em for it to react to its context
$base_transition: all 200ms ease !default;
$base_box_shadow: 0 0 .5rem rgba(0,0,0,.1) !default;
$base_border_radius: .25rem !default;

////////////////////////////////////////
//////////////////////////////////////// Typography
////////////////////////////////////////

$text_sizes: (
	supermini: 	.3125rem, 			// 5px
	ten: 			.625rem,	 			// 10px
	mini: 		.75rem, 	 			// 12px
	tiny: 		.875rem,				// 14px
	small: 		.9375rem, 			// 15px
	regular: 	1rem,					// 16px
	midreg: 		1.0625rem,	  		// 17px
	medium: 		1.125rem,	 		// 18px
	big: 			1.25rem,	 			// 20px
	tall: 		1.375rem,			// 22px
	midtall: 	1.5rem,			 	// 24px
	taller: 		1.625rem,			// 26px
	tallest: 	1.75rem,				// 28px
	huge: 		1.875rem,		 	// 30px
	double: 		2rem, 	         // 32px
	main: 		2.25rem, 			// 36px
	beast: 		2.5rem, 				// 40px
	icon: 		4rem, 				// 64px
	logoh: 		3.5625rem,			// 57px
	logow: 		11.8125rem 			// 189px
);

//use
//map-get($text_sizes, size);

//paddings

$size_min:			.25rem;		//4px
$size_half:			.5rem;		//8px
$size_ten:			.625rem;		//10px
$size_tiny:			.6875rem;	//11px
$size_short:		.75rem;		//12px
$size_small:		.875rem;		//14px
$size_regular: 	1rem; 		//16px
$size_midtall: 	1.125rem;   //18px
$size_midreg: 		1.25rem;   	//20px
$size_special: 	1.3125rem;	//21px
$size_common: 		1.375rem;	//22px
$size_avg: 	  		1.5rem;		//24px
$size_space: 		1.675rem;   //26px
$size_medium: 		1.75rem; 	//28px
$size_double: 		2rem;			//32px
$size_icon: 		2.25rem;		//36px
$size_fourty: 		2.5rem; 		//40px
$size_tall: 		3rem;			//48px
$size_taller: 		3.5rem;		//56px
$size_four: 		4rem;			//
$size_big: 			4.625rem; 	//74px
$size_logo: 		8.75rem; 	//120px
$size_tenth: 		10rem;		//160px

//Use
//map-get($text_sizes, size);

$headings_line_height: 1.5;

$regular_line_height: $base_line_height;

////////////
////Weights/
///////////
$weight_thin: 100;
$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;
$weight_black: 900;

////////////////////////////////////////
//////////////////////////////////////// Colors
////////////////////////////////////////

/*********************************************/
/*********************************************/

/*pumahue*/
// $color_main_regular: 		#00665D !default;
// $color_main_light: 			#257C74 !default;

/*manquecura*/
$color_main_regular: 		#0F2F54 !default;
$color_main_light: 			#112F52 !default;

$color_extra_dark:	 		#4a4a4a !default;


$color_secondary_dark: 		#D76306 !default;
$color_secondary_semi:		#D76306 !default;
$color_secondary_regular: 	#EE6C05 !default;

$color_success_regular: 	#1FCC75 !default;
$color_danger_regular: 		#C83313 !default;

$color_grey_lightest: 		#F2F4F5 !default;
$color_grey_light:	  		#ccc !default;
$color_grey_regular:  		#999 !default;
$color_grey_darker:   		#333 !default;

/*********************************************/
/*********************************************/

$color_black:  		  		black !default;
$color_grey_darkest:   		#111 !default;
$color_grey_darker:   		#333 !default;
$color_grey_dark:	  		#666 !default;
$color_grey_regular:  		#999 !default;
$color_grey_light:	  		#ccc !default;
$color_grey_lighter:  		#ddd !default;
$color_grey_lightest: 		#F2F4F5 !default;
$color_white:		  		white !default;

$color_main_darker: 		#004085 !default;
$color_main_dark: 			#000000 !default;
$color_main_regular: 		#00665D !default;
$color_main_light: 			#5cabff !default;
$color_main_lighter: 		#8fc5ff !default;

$color_secondary_darker: 	#804000 !default;
$color_secondary_dark: 		#B35E09 !default;
$color_secondary_regular: 	#EE6C05 !default;
$color_secondary_light: 	#ffac59 !default;
$color_secondary_lighter: 	#ffc68c !default;

$color_backup_dark: 		#758c00 !default;
$color_backup_regular: 		#a3bf13 !default;
$color_backup_light: 		#bfd941 !default;

$color_success_dark: 		#089950 !default;
// $color_success_regular: 	#1FCC75 !default;
$color_success_light: 		#50e69b !default;

$color_info_dark: 			#078c88 !default;
$color_info_regular: 		#1dbfba !default;
$color_info_light: 			#4cd9d4 !default;

$color_warning_dark: 		#bf9900 !default;
$color_warning_regular: 	#d9b00b !default;
$color_warning_light: 		#f2c924 !default;

$color_danger_dark: 		#992008 !default;
// $color_danger_regular: 		#CC3C1F !default;
$color_danger_light: 		#e66950 !default;


$colors_map : (
	grey: (
		darkest:  	$color_grey_darkest,
		darker:   	$color_grey_darker,
		dark: 	  	$color_grey_dark,
		regular:  	$color_grey_regular,
		light:    	$color_grey_light,
		lighter:  	$color_grey_lighter,
		lightest: 	$color_grey_lightest
	),
	main: (
		darker:   	$color_main_darker,
		dark: 	  	$color_main_dark,
		regular:  	$color_main_regular,
		light: 		$color_main_light,
		lighter: 	$color_main_lighter
	),
	secondary: (
		darker: 	$color_secondary_darker,
		dark: 		$color_secondary_dark,
		regular: 	$color_secondary_regular,
		light: 		$color_secondary_light,
		lighter: 	$color_secondary_lighter
	),
	backup: (
		dark: 		$color_backup_dark,
		regular: 	$color_backup_regular,
		light: 		$color_backup_light
	),
	success: (
		dark: 		$color_success_dark,
		regular: 	$color_success_regular,
		light: 		$color_success_light
	),
	info: (
		dark: 		$color_info_dark,
		regular: 	$color_info_regular,
		light: 		$color_info_light
	),
	warning: (
		dark: 		$color_warning_dark,
		regular: 	$color_warning_regular,
		light: 		$color_warning_light
	),
	danger: (
		dark: 		$color_danger_dark,
		regular: 	$color_danger_regular,
		light: 		$color_danger_light
	)
);

// social networks colors
$color_facebook: 	#3b5998;
$color_twitter: 	#55acee;
$color_googleplus: 	#dd4b39;
$color_linkedin: 	#0077b5;
$color_youtube: 	#e52d27;
$color_instagram: 	#405de6;
$color_shortlink:   $color_secondary_regular;

// especial
$instagram_gradient: linear-gradient( #400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);

$social_colors_map: (
	facebook: $color_facebook,
	twitter: $color_twitter,
	googleplus: $color_googleplus,
	linkedin: $color_linkedin,
	youtube: $color_youtube,
	instagram: $color_instagram,
	shortlink: $color_shortlink
);


////////////////////////////////////////
//////////////////////////////////////// Breakpoints & sizes
////////////////////////////////////////

$extra_small: 	20rem !default;  	// ~320px
$phablet:		30rem !default;		// ~480px
$small: 		40rem !default;  	// ~640px
$tablet: 		48rem !default; 	// ~768px
$medium: 		50rem !default;  	// ~800px
$midlarge: 		56.25rem !default; 	// ~900px
$large: 		64rem !default;  	// ~1024px
$extra_large: 	80rem !default;  	// ~1280px
$huge: 			90rem !default;  	// ~1440px

$medias_map: (
	extra-small: $extra_small,
	phablet: $phablet,
	small: $small,
	medium: $medium,
	midlarge: $midlarge,
	large: $large,
	extra-large: $extra_large,
	huge: $huge
);

////////////////////////////////////////
//////////////////////////////////////// Icons
////////////////////////////////////////

$icon-twitter_square: "\f081";
$icon-facebook_square: "\f082";
$icon-linkedin_square: "\f08c";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-github: "\f09b";
$icon-pinterest: "\f0d2";
$icon-pinterest_square: "\f0d3";
$icon-google_plus_square: "\f0d4";
$icon-google_plus: "\f0d5";
$icon-linkedin: "\f0e1";
$icon-github_alt: "\f113";
$icon-gamepad: "\f11b";
$icon-html5: "\f13b";
$icon-css3: "\f13c";
$icon-youtube_square: "\f166";
$icon-youtube: "\f167";
$icon-youtube_play: "\f16a";
$icon-dropbox: "\f16b";
$icon-stack_overflow: "\f16c";
$icon-instagram: "\f16d";
$icon-flickr: "\f16e";
$icon-bitbucket: "\f171";
$icon-bitbucket_square: "\f172";
$icon-tumblr: "\f173";
$icon-tumblr_square: "\f174";
$icon-apple: "\f179";
$icon-windows: "\f17a";
$icon-android2: "\f17b";
$icon-linux: "\f17c";
$icon-dribbble: "\f17d";
$icon-skype: "\f17e";
$icon-vimeo_square: "\f194";
$icon-slack: "\f198";
$icon-wordpress: "\f19a";
$icon-google: "\f1a0";
$icon-stumbleupon: "\f1a4";
$icon-drupal: "\f1a9";
$icon-language: "\f1ab";
$icon-behance: "\f1b4";
$icon-behance_square: "\f1b5";
$icon-spotify: "\f1bc";
$icon-soundcloud: "\f1be";
$icon-vine: "\f1ca";
$icon-codepen: "\f1cb";
$icon-sw_rebel: "\f1d0";
$icon-sw_empire: "\f1d1";
$icon-paper_plane: "\f1d8";
$icon-paypal: "\f1ed";
$icon-cc_visa: "\f1f0";
$icon-cc_mastercard: "\f1f1";
$icon-cc_discover: "\f1f2";
$icon-cc_amex: "\f1f3";
$icon-cc_paypal: "\f1f4";
$icon-lastfm: "\f202";
$icon-lastfm_square: "\f203";
$icon-cc: "\f20a";
$icon-diamond: "\f219";
$icon-facebook_official: "\f230";
$icon-pinterest-p: "\f231";
$icon-whatsapp: "\f232";
$icon-tripadvisor: "\f262";
$icon-get_pocket: "\f265";
$icon-wikipedia_w: "\f266";
$icon-safari: "\f267";
$icon-chrome: "\f268";
$icon-firefox: "\f269";
$icon-opera: "\f26a";
$icon-internet_explorer: "\f26b";
$icon-amazon: "\f270";
$icon-vimeo: "\f27d";
$icon-edge: "\f282";
$icon-mixcloud: "\f289";
$icon-snapchat: "\f2ab";
$icon-snapchat_ghost: "\f2ac";
$icon-snapchat_square: "\f2ad";
$icon-google_plus_circle: "\f2b3";
$icon-imdb: "\f2d8";
$icon-3d_rotation: "\e84d";
$icon-alarm: "\e855";
$icon-access_alarms: "\e191";
$icon-schedule: "\e8b5";
$icon-accessible: "\e914";
$icon-account_balance: "\e84f";
$icon-account_balance_wallet: "\e850";
$icon-account_box: "\e851";
$icon-account_circle: "\e853";
$icon-adb: "\e60e";
$icon-add: "\e145";
$icon-add_a_photo: "\e439";
$icon-alarm_add: "\e856";
$icon-add_alert: "\e003";
$icon-add_box: "\e146";
$icon-add_circle: "\e147";
$icon-control_point: "\e3ba";
$icon-add_location: "\e567";
$icon-add_shopping_cart: "\e854";
$icon-queue: "\e03c";
$icon-add_to_queue: "\e05c";
$icon-adjust: "\e39e";
$icon-flight: "\e539";
$icon-airplanemode_inactive: "\e194";
$icon-airplay: "\e055";
$icon-airport_shuttle: "\eb3c";
$icon-alarm_off: "\e857";
$icon-alarm_on: "\e858";
$icon-album: "\e019";
$icon-all_inclusive: "\eb3d";
$icon-all_out: "\e90b";
$icon-android: "\e859";
$icon-announcement: "\e85a";
$icon-apps: "\e5c3";
$icon-archive: "\e149";
$icon-arrow_back: "\e5c4";
$icon-arrow_downward: "\e5db";
$icon-arrow_drop_down: "\e5c5";
$icon-arrow_drop_down_circle: "\e5c6";
$icon-arrow_drop_up: "\e5c7";
$icon-arrow_forward: "\e5c8";
$icon-arrow_upward: "\e5d8";
$icon-art_track: "\e060";
$icon-aspect_ratio: "\e85b";
$icon-poll: "\e801";
$icon-assignment: "\e85d";
$icon-assignment_ind: "\e85e";
$icon-assignment_late: "\e85f";
$icon-assignment_return: "\e860";
$icon-assignment_returned: "\e861";
$icon-assignment_turned_in: "\e862";
$icon-assistant: "\e39f";
$icon-flag: "\e153";
$icon-attach_file: "\e226";
$icon-attach_money: "\e227";
$icon-attachment: "\e2bc";
$icon-audiotrack: "\e3a1";
$icon-autorenew: "\e863";
$icon-av_timer: "\e01b";
$icon-backspace: "\e14a";
$icon-cloud_upload: "\e2c3";
$icon-battery_alert: "\e19c";
$icon-battery_charging_full: "\e1a3";
$icon-battery_std: "\e1a5";
$icon-battery_unknown: "\e1a6";
$icon-beach_access: "\eb3e";
$icon-beenhere: "\e52d";
$icon-block: "\e14b";
$icon-bluetooth: "\e1a7";
$icon-bluetooth_disabled: "\e1a9";
$icon-class: "\e86e";
$icon-turned_in: "\e8e6";
$icon-turned_in_not: "\e8e7";
$icon-border_all: "\e228";
$icon-border_bottom: "\e229";
$icon-border_clear: "\e22a";
$icon-border_color: "\e22b";
$icon-border_horizontal: "\e22c";
$icon-border_inner: "\e22d";
$icon-border_left: "\e22e";
$icon-border_outer: "\e22f";
$icon-border_right: "\e230";
$icon-border_style: "\e231";
$icon-border_top: "\e232";
$icon-border_vertical: "\e233";
$icon-branding_watermark: "\e06b";
$icon-brightness_1: "\e3a6";
$icon-brightness_2: "\e3a7";
$icon-brightness_3: "\e3a8";
$icon-brightness_4: "\e3a9";
$icon-brightness_low: "\e1ad";
$icon-brightness_medium: "\e1ae";
$icon-brightness_high: "\e1ac";
$icon-brightness_auto: "\e1ab";
$icon-broken_image: "\e3ad";
$icon-brush: "\e3ae";
$icon-bubble_chart: "\e6dd";
$icon-bug_report: "\e868";
$icon-build: "\e869";
$icon-burst_mode: "\e43c";
$icon-domain: "\e7ee";
$icon-business_center: "\eb3f";
$icon-cached: "\e86a";
$icon-cake: "\e7e9";
$icon-phone: "\e0cd";
$icon-call_end: "\e0b1";
$icon-call_made: "\e0b2";
$icon-merge_type: "\e252";
$icon-call_missed: "\e0b4";
$icon-call_missed_outgoing: "\e0e4";
$icon-call_received: "\e0b5";
$icon-call_split: "\e0b6";
$icon-call_to_action: "\e06c";
$icon-camera: "\e3af";
$icon-photo_camera: "\e412";
$icon-camera_enhance: "\e8fc";
$icon-camera_front: "\e3b1";
$icon-camera_rear: "\e3b2";
$icon-camera_roll: "\e3b3";
$icon-cancel: "\e5c9";
$icon-redeem: "\e8b1";
$icon-card_membership: "\e8f7";
$icon-card_travel: "\e8f8";
$icon-casino: "\eb40";
$icon-cast: "\e307";
$icon-cast_connected: "\e308";
$icon-center_focus_strong: "\e3b4";
$icon-center_focus_weak: "\e3b5";
$icon-change_history: "\e86b";
$icon-chat: "\e0b7";
$icon-chat_bubble: "\e0ca";
$icon-chat_bubble_outline: "\e0cb";
$icon-check: "\e5ca";
$icon-check_box: "\e834";
$icon-check_box_outline_blank: "\e835";
$icon-check_circle: "\e86c";
$icon-navigate_before: "\e408";
$icon-navigate_next: "\e409";
$icon-child_care: "\eb41";
$icon-child_friendly: "\eb42";
$icon-chrome_reader_mode: "\e86d";
$icon-close: "\e5cd";
$icon-clear_all: "\e0b8";
$icon-closed_caption: "\e01c";
$icon-wb_cloudy: "\e42d";
$icon-cloud_circle: "\e2be";
$icon-cloud_done: "\e2bf";
$icon-cloud_download: "\e2c0";
$icon-cloud_off: "\e2c1";
$icon-cloud_queue: "\e2c2";
$icon-code: "\e86f";
$icon-photo_library: "\e413";
$icon-collections_bookmark: "\e431";
$icon-palette: "\e40a";
$icon-colorize: "\e3b8";
$icon-comment: "\e0b9";
$icon-compare: "\e3b9";
$icon-compare_arrows: "\e915";
$icon-laptop: "\e31e";
$icon-confirmation_number: "\e638";
$icon-contact_mail: "\e0d0";
$icon-contact_phone: "\e0cf";
$icon-contacts: "\e0ba";
$icon-content_copy: "\e14d";
$icon-content_cut: "\e14e";
$icon-content_paste: "\e14f";
$icon-control_point_duplicate: "\e3bb";
$icon-copyright: "\e90c";
$icon-mode_edit: "\e254";
$icon-create_new_folder: "\e2cc";
$icon-payment: "\e8a1";
$icon-crop: "\e3be";
$icon-crop_16_9: "\e3bc";
$icon-crop_3_2: "\e3bd";
$icon-crop_landscape: "\e3c3";
$icon-crop_7_5: "\e3c0";
$icon-crop_din: "\e3c1";
$icon-crop_free: "\e3c2";
$icon-crop_original: "\e3c4";
$icon-crop_portrait: "\e3c5";
$icon-crop_rotate: "\e437";
$icon-crop_square: "\e3c6";
$icon-dashboard: "\e871";
$icon-data_usage: "\e1af";
$icon-date_range: "\e916";
$icon-dehaze: "\e3c7";
$icon-delete: "\e872";
$icon-delete_forever: "\e92b";
$icon-delete_sweep: "\e16c";
$icon-description: "\e873";
$icon-desktop_mac: "\e30b";
$icon-desktop_windows: "\e30c";
$icon-details: "\e3c8";
$icon-developer_board: "\e30d";
$icon-developer_mode: "\e1b0";
$icon-device_hub: "\e335";
$icon-phonelink: "\e326";
$icon-devices_other: "\e337";
$icon-dialpad: "\e0bc";
$icon-directions: "\e52e";
$icon-directions_bike: "\e52f";
$icon-directions_boat: "\e532";
$icon-directions_bus: "\e530";
$icon-directions_car: "\e531";
$icon-directions_railway: "\e534";
$icon-directions_run: "\e566";
$icon-directions_transit: "\e535";
$icon-directions_walk: "\e536";
$icon-disc_full: "\e610";
$icon-dns: "\e875";
$icon-not_interested: "\e033";
$icon-do_not_disturb_alt: "\e611";
$icon-do_not_disturb_off: "\e643";
$icon-remove_circle: "\e15c";
$icon-dock: "\e30e";
$icon-done: "\e876";
$icon-done_all: "\e877";
$icon-donut_large: "\e917";
$icon-donut_small: "\e918";
$icon-drafts: "\e151";
$icon-drag_handle: "\e25d";
$icon-time_to_leave: "\e62c";
$icon-dvr: "\e1b2";
$icon-edit_location: "\e568";
$icon-eject: "\e8fb";
$icon-markunread: "\e159";
$icon-enhanced_encryption: "\e63f";
$icon-equalizer: "\e01d";
$icon-error: "\e000";
$icon-error_outline: "\e001";
$icon-euro_symbol: "\e926";
$icon-ev_station: "\e56d";
$icon-insert_invitation: "\e24f";
$icon-event_available: "\e614";
$icon-event_busy: "\e615";
$icon-event_note: "\e616";
$icon-event_seat: "\e903";
$icon-exit_to_app: "\e879";
$icon-explicit: "\e01e";
$icon-explore: "\e87a";
$icon-exposure: "\e3ca";
$icon-exposure_neg_1: "\e3cb";
$icon-exposure_neg_2: "\e3cc";
$icon-exposure_plus_1: "\e3cd";
$icon-exposure_plus_2: "\e3ce";
$icon-exposure_zero: "\e3cf";
$icon-extension: "\e87b";
$icon-face: "\e87c";
$icon-fast_forward: "\e01f";
$icon-fast_rewind: "\e020";
$icon-favorite: "\e87d";
$icon-favorite_border: "\e87e";
$icon-featured_play_list: "\e06d";
$icon-featured_video: "\e06e";
$icon-sms_failed: "\e626";
$icon-fiber_dvr: "\e05d";
$icon-fiber_manual_record: "\e061";
$icon-fiber_new: "\e05e";
$icon-fiber_pin: "\e06a";
$icon-fiber_smart_record: "\e062";
$icon-file_download: "\e884";
$icon-file_upload: "\e2c6";
$icon-filter: "\e3d3";
$icon-filter_1: "\e3d0";
$icon-filter_center_focus: "\e3dc";
$icon-filter_drama: "\e3dd";
$icon-filter_frames: "\e3de";
$icon-terrain: "\e564";
$icon-filter_list: "\e152";
$icon-filter_none: "\e3e0";
$icon-filter_tilt_shift: "\e3e2";
$icon-filter_vintage: "\e3e3";
$icon-find_in_page: "\e880";
$icon-find_replace: "\e881";
$icon-fingerprint: "\e90d";
$icon-first_page: "\e5dc";
$icon-fitness_center: "\eb43";
$icon-flare: "\e3e4";
$icon-flash_auto: "\e3e5";
$icon-flash_off: "\e3e6";
$icon-flash_on: "\e3e7";
$icon-flight_land: "\e904";
$icon-flight_takeoff: "\e905";
$icon-flip: "\e3e8";
$icon-flip_to_back: "\e882";
$icon-flip_to_front: "\e883";
$icon-folder: "\e2c7";
$icon-folder_open: "\e2c8";
$icon-folder_shared: "\e2c9";
$icon-folder_special: "\e617";
$icon-font_download: "\e167";
$icon-format_align_center: "\e234";
$icon-format_align_justify: "\e235";
$icon-format_align_left: "\e236";
$icon-format_align_right: "\e237";
$icon-format_bold: "\e238";
$icon-format_clear: "\e239";
$icon-format_color_fill: "\e23a";
$icon-format_color_reset: "\e23b";
$icon-format_color_text: "\e23c";
$icon-format_indent_decrease: "\e23d";
$icon-format_indent_increase: "\e23e";
$icon-format_italic: "\e23f";
$icon-format_line_spacing: "\e240";
$icon-format_list_bulleted: "\e241";
$icon-format_list_numbered: "\e242";
$icon-format_paint: "\e243";
$icon-format_quote: "\e244";
$icon-format_shapes: "\e25e";
$icon-format_size: "\e245";
$icon-format_underlined: "\e249";
$icon-question_answer: "\e8af";
$icon-forward: "\e154";
$icon-forward_10: "\e056";
$icon-forward_30: "\e057";
$icon-forward_5: "\e058";
$icon-free_breakfast: "\eb44";
$icon-fullscreen: "\e5d0";
$icon-fullscreen_exit: "\e5d1";
$icon-functions: "\e24a";
$icon-g_translate: "\e927";
$icon-games: "\e021";
$icon-gavel: "\e90e";
$icon-gesture: "\e155";
$icon-gif: "\e908";
$icon-goat: "\e900";
$icon-golf_course: "\eb45";
$icon-my_location: "\e55c";
$icon-location_searching: "\e1b7";
$icon-location_disabled: "\e1b6";
$icon-star: "\e838";
$icon-gradient: "\e3e9";
$icon-graphic_eq: "\e1b8";
$icon-grid_off: "\e3eb";
$icon-grid_on: "\e3ec";
$icon-people: "\e7fb";
$icon-group_add: "\e7f0";
$icon-hd: "\e052";
$icon-hdr_off: "\e3ed";
$icon-hdr_on: "\e3ee";
$icon-hdr_strong: "\e3f1";
$icon-hdr_weak: "\e3f2";
$icon-headset: "\e310";
$icon-headset_mic: "\e311";
$icon-healing: "\e3f3";
$icon-hearing: "\e023";
$icon-help: "\e887";
$icon-help_outline: "\e8fd";
$icon-high_quality: "\e024";
$icon-highlight_off: "\e888";
$icon-restore: "\e8b3";
$icon-home: "\e88a";
$icon-hourglass_empty: "\e88b";
$icon-hourglass_full: "\e88c";
$icon-http: "\e902";
$icon-lock: "\e897";
$icon-photo: "\e410";
$icon-import_contacts: "\e0e0";
$icon-import_export: "\e0c3";
$icon-important_devices: "\e912";
$icon-inbox: "\e156";
$icon-indeterminate_check_box: "\e909";
$icon-info: "\e88e";
$icon-info_outline: "\e88f";
$icon-input: "\e890";
$icon-insert_comment: "\e24c";
$icon-insert_drive_file: "\e24d";
$icon-tag_faces: "\e420";
$icon-link: "\e157";
$icon-invert_colors: "\e891";
$icon-invert_colors_off: "\e0c4";
$icon-iso: "\e3f6";
$icon-keyboard: "\e312";
$icon-chevron_down: "\e313";
$icon-chevron_left: "\e314";
$icon-chevron_right: "\e315";
$icon-chevron_up: "\e316";
$icon-keyboard_backspace: "\e317";
$icon-keyboard_capslock: "\e318";
$icon-keyboard_hide: "\e31a";
$icon-keyboard_return: "\e31b";
$icon-keyboard_tab: "\e31c";
$icon-keyboard_voice: "\e31d";
$icon-kitchen: "\eb47";
$icon-label: "\e892";
$icon-label_outline: "\e893";
$icon-language2: "\e894";
$icon-laptop_chromebook: "\e31f";
$icon-laptop_mac: "\e320";
$icon-laptop_windows: "\e321";
$icon-last_page: "\e5dd";
$icon-open_in_new: "\e89e";
$icon-layers: "\e53b";
$icon-layers_clear: "\e53c";
$icon-lens: "\e3fa";
$icon-library_books: "\e02f";
$icon-library_music: "\e030";
$icon-lightbulb_outline: "\e90f";
$icon-linear_scale: "\e260";
$icon-linked_camera: "\e438";
$icon-list: "\e896";
$icon-live_help: "\e0c6";
$icon-live_tv: "\e639";
$icon-local_play: "\e553";
$icon-local_airport: "\e53d";
$icon-local_atm: "\e53e";
$icon-local_bar: "\e540";
$icon-local_cafe: "\e541";
$icon-local_car_wash: "\e542";
$icon-restaurant_menu: "\e561";
$icon-local_florist: "\e545";
$icon-local_gas_station: "\e546";
$icon-shopping_cart: "\e8cc";
$icon-local_hospital: "\e548";
$icon-local_laundry_service: "\e54a";
$icon-local_mall: "\e54c";
$icon-local_offer: "\e54e";
$icon-local_pharmacy: "\e550";
$icon-print: "\e8ad";
$icon-local_shipping: "\e558";
$icon-location_off: "\e0c7";
$icon-place: "\e8b4";
$icon-lock_open: "\e898";
$icon-lock_outline: "\e899";
$icon-sync: "\e627";
$icon-loupe: "\e402";
$icon-low_priority: "\e16d";
$icon-loyalty: "\e89a";
$icon-mail_outline: "\e0e1";
$icon-map: "\e55b";
$icon-menu: "\e5d2";
$icon-message: "\e0c9";
$icon-mic: "\e029";
$icon-mic_none: "\e02a";
$icon-mic_off: "\e02b";
$icon-mms: "\e618";
$icon-mode_comment: "\e253";
$icon-monetization_on: "\e263";
$icon-money_off: "\e25c";
$icon-monochrome_photos: "\e403";
$icon-mood_bad: "\e7f3";
$icon-more: "\e619";
$icon-more_horiz: "\e5d3";
$icon-more_vert: "\e5d4";
$icon-motorcycle: "\e91b";
$icon-mouse: "\e323";
$icon-move_to_inbox: "\e168";
$icon-music_note: "\e405";
$icon-navigation: "\e55d";
$icon-near_me: "\e569";
$icon-network_cell: "\e1b9";
$icon-network_wifi: "\e1ba";
$icon-new_releases: "\e031";
$icon-next_week: "\e16a";
$icon-no_encryption: "\e641";
$icon-signal_cellular_no_sim: "\e1ce";
$icon-note: "\e06f";
$icon-note_add: "\e89c";
$icon-notifications: "\e7f4";
$icon-notifications_active: "\e7f7";
$icon-notifications_none: "\e7f5";
$icon-notifications_off: "\e7f6";
$icon-notifications_paused: "\e7f8";
$icon-ondemand_video: "\e63a";
$icon-opacity: "\e91c";
$icon-open_in_browser: "\e89d";
$icon-open_with: "\e89f";
$icon-pageview: "\e8a0";
$icon-pan_tool: "\e925";
$icon-panorama: "\e40b";
$icon-radio_button_unchecked: "\e836";
$icon-party_mode: "\e7fa";
$icon-pause: "\e034";
$icon-pause_circle_filled: "\e035";
$icon-pause_circle_outline: "\e036";
$icon-people_outline: "\e7fc";
$icon-perm_camera_mic: "\e8a2";
$icon-perm_contact_calendar: "\e8a3";
$icon-perm_data_setting: "\e8a4";
$icon-perm_device_information: "\e8a5";
$icon-person_outline: "\e7ff";
$icon-perm_media: "\e8a7";
$icon-perm_phone_msg: "\e8a8";
$icon-person: "\e7fd";
$icon-person_add: "\e7fe";
$icon-person_pin: "\e55a";
$icon-person_pin_circle: "\e56a";
$icon-personal_video: "\e63b";
$icon-pets: "\e91d";
$icon-phone_android: "\e324";
$icon-phone_bluetooth_speaker: "\e61b";
$icon-phone_forwarded: "\e61c";
$icon-phone_in_talk: "\e61d";
$icon-phone_iphone: "\e325";
$icon-phone_paused: "\e620";
$icon-phonelink_off: "\e327";
$icon-phonelink_ring: "\e0dd";
$icon-phonelink_setup: "\e0de";
$icon-photo_album: "\e411";
$icon-photo_filter: "\e43b";
$icon-photo_size_select_actual: "\e432";
$icon-photo_size_select_large: "\e433";
$icon-photo_size_select_small: "\e434";
$icon-picture_as_pdf: "\e415";
$icon-picture_in_picture: "\e8aa";
$icon-picture_in_picture_alt: "\e911";
$icon-pie_chart: "\e6c4";
$icon-pin_drop: "\e55e";
$icon-play_arrow: "\e037";
$icon-play_circle_filled: "\e038";
$icon-play_circle_outline: "\e039";
$icon-playlist_add: "\e03b";
$icon-playlist_add_check: "\e065";
$icon-playlist_play: "\e05f";
$icon-polymer: "\e8ab";
$icon-portable_wifi_off: "\e0ce";
$icon-portrait: "\e416";
$icon-power: "\e63c";
$icon-power_settings_new: "\e8ac";
$icon-pregnant_woman: "\e91e";
$icon-present_to_all: "\e0df";
$icon-priority_high: "\e645";
$icon-public: "\e80b";
$icon-publish: "\e255";
$icon-radio: "\e03e";
$icon-radio_button_checked: "\e837";
$icon-recent_actors: "\e03f";
$icon-record_voice_over: "\e91f";
$icon-redo: "\e15a";
$icon-refresh: "\e5d5";
$icon-remove: "\e15b";
$icon-remove_circle_outline: "\e15d";
$icon-remove_from_queue: "\e067";
$icon-visibility: "\e8f4";
$icon-remove_shopping_cart: "\e928";
$icon-reorder: "\e8fe";
$icon-repeat: "\e040";
$icon-replay: "\e042";
$icon-reply: "\e15e";
$icon-reply_all: "\e15f";
$icon-report: "\e160";
$icon-warning: "\e002";
$icon-restaurant: "\e56c";
$icon-restore_page: "\e929";
$icon-ring_volume: "\e0d1";
$icon-room_service: "\eb49";
$icon-rss_feed: "\e0e5";
$icon-satellite: "\e562";
$icon-save: "\e161";
$icon-scanner: "\e329";
$icon-school: "\e80c";
$icon-screen_lock_landscape: "\e1be";
$icon-screen_lock_portrait: "\e1bf";
$icon-screen_lock_rotation: "\e1c0";
$icon-screen_rotation: "\e1c1";
$icon-screen_share: "\e0e2";
$icon-sd_storage: "\e1c2";
$icon-search: "\e8b6";
$icon-security: "\e32a";
$icon-send2: "\e163";
$icon-sentiment_dissatisfied: "\e811";
$icon-sentiment_neutral: "\e812";
$icon-sentiment_satisfied: "\e813";
$icon-sentiment_very_satisfied: "\e815";
$icon-settings: "\e8b8";
$icon-settings_applications: "\e8b9";
$icon-settings_backup_restore: "\e8ba";
$icon-settings_bluetooth: "\e8bb";
$icon-settings_brightness: "\e8bd";
$icon-settings_cell: "\e8bc";
$icon-settings_ethernet: "\e8be";
$icon-settings_input_antenna: "\e8bf";
$icon-settings_input_composite: "\e8c1";
$icon-settings_input_hdmi: "\e8c2";
$icon-settings_input_svideo: "\e8c3";
$icon-settings_overscan: "\e8c4";
$icon-settings_phone: "\e8c5";
$icon-settings_power: "\e8c6";
$icon-settings_remote: "\e8c7";
$icon-settings_system_daydream: "\e1c3";
$icon-settings_voice: "\e8c8";
$icon-share: "\e80d";
$icon-shop: "\e8c9";
$icon-shop_two: "\e8ca";
$icon-short_text: "\e261";
$icon-signal_cellular_4_bar: "\e1c8";
$icon-signal_cellular_connected_no_internet_4_bar: "\e1cd";
$icon-signal_cellular_null: "\e1cf";
$icon-signal_wifi_4_bar: "\e1d8";
$icon-signal_wifi_4_bar_lock: "\e1d9";
$icon-signal_wifi_off: "\e1da";
$icon-sim_card: "\e32b";
$icon-sim_card_alert: "\e624";
$icon-skip_next: "\e044";
$icon-skip_previous: "\e045";
$icon-slideshow: "\e41b";
$icon-stay_primary_portrait: "\e0d6";
$icon-smoke_free: "\eb4a";
$icon-smoking_rooms: "\eb4b";
$icon-textsms: "\e0d8";
$icon-snooze: "\e046";
$icon-sort: "\e164";
$icon-sort_by_alpha: "\e053";
$icon-spa: "\eb4c";
$icon-space_bar: "\e256";
$icon-speaker: "\e32d";
$icon-speaker_notes: "\e8cd";
$icon-speaker_notes_off: "\e92a";
$icon-speaker_phone: "\e0d2";
$icon-spellcheck: "\e8ce";
$icon-star_border: "\e83a";
$icon-star_half: "\e839";
$icon-stars: "\e8d0";
$icon-stay_primary_landscape: "\e0d5";
$icon-stop: "\e047";
$icon-stop_screen_share: "\e0e3";
$icon-storage: "\e1db";
$icon-store_mall_directory: "\e563";
$icon-straighten: "\e41c";
$icon-streetview: "\e56e";
$icon-strikethrough_s: "\e257";
$icon-style: "\e41d";
$icon-subdirectory_arrow_right: "\e5da";
$icon-subject: "\e8d2";
$icon-subscriptions: "\e064";
$icon-subtitles: "\e048";
$icon-subway: "\e56f";
$icon-supervisor_account: "\e8d3";
$icon-swap_calls: "\e0d7";
$icon-swap_horiz: "\e8d4";
$icon-swap_vert: "\e8d5";
$icon-swap_vertical_circle: "\e8d6";
$icon-sync_disabled: "\e628";
$icon-sync_problem: "\e629";
$icon-system_update: "\e62a";
$icon-system_update_alt: "\e8d7";
$icon-tablet: "\e32f";
$icon-tablet_android: "\e330";
$icon-tablet_mac: "\e331";
$icon-tap_and_play: "\e62b";
$icon-text_fields: "\e262";
$icon-text_format: "\e165";
$icon-thumb_down: "\e8db";
$icon-thumb_up: "\e8dc";
$icon-thumbs_up_down: "\e8dd";
$icon-timelapse: "\e422";
$icon-timer: "\e425";
$icon-timer_10: "\e423";
$icon-timer_3: "\e424";
$icon-title: "\e264";
$icon-toc: "\e8de";
$icon-today: "\e8df";
$icon-toll: "\e8e0";
$icon-tonality: "\e427";
$icon-touch_app: "\e913";
$icon-traffic: "\e565";
$icon-train: "\e570";
$icon-tram: "\e571";
$icon-transfer_within_a_station: "\e572";
$icon-translate: "\e8e2";
$icon-trending_down: "\e8e3";
$icon-trending_up: "\e8e5";
$icon-tune: "\e429";
$icon-tv: "\e333";
$icon-unarchive: "\e169";
$icon-undo: "\e166";
$icon-unfold_less: "\e5d6";
$icon-unfold_more: "\e5d7";
$icon-update: "\e923";
$icon-usb: "\e1e0";
$icon-verified_user: "\e8e8";
$icon-vertical_align_bottom: "\e258";
$icon-vertical_align_center: "\e259";
$icon-vertical_align_top: "\e25a";
$icon-vibration: "\e62d";
$icon-video_call: "\e070";
$icon-video_label: "\e071";
$icon-video_library: "\e04a";
$icon-videocam: "\e04b";
$icon-videocam_off: "\e04c";
$icon-videogame_asset: "\e338";
$icon-view_agenda: "\e8e9";
$icon-view_array: "\e8ea";
$icon-view_carousel: "\e8eb";
$icon-view_column: "\e8ec";
$icon-view_comfy: "\e42a";
$icon-view_compact: "\e42b";
$icon-view_day: "\e8ed";
$icon-view_headline: "\e8ee";
$icon-view_list: "\e8ef";
$icon-view_module: "\e8f0";
$icon-visibility_off: "\e8f5";
$icon-voice_chat: "\e62e";
$icon-voicemail: "\e0d9";
$icon-volume_down: "\e04d";
$icon-volume_mute: "\e04e";
$icon-volume_off: "\e04f";
$icon-volume_up: "\e050";
$icon-vpn_key: "\e0da";
$icon-wallpaper: "\e1bc";
$icon-watch: "\e334";
$icon-watch_later: "\e924";
$icon-wb_incandescent: "\e42e";
$icon-wb_sunny: "\e430";
$icon-wc: "\e63d";
$icon-weekend: "\e16b";
$icon-whatshot: "\e80e";
$icon-wifi: "\e63e";
$icon-wifi_lock: "\e1e1";
$icon-wifi_tethering: "\e1e2";
$icon-work: "\e8f9";
$icon-wrap_text: "\e25b";
$icon-youtube_searched_for: "\e8fa";
$icon-zoom_in: "\e8ff";
$icon-zoom_out: "\e901";
$icon-zoom_out_map: "\e56b";

$social_icons_map: (
	facebook: $icon-facebook,
	twitter: $icon-twitter,
	googleplus: $icon-google_plus,
	linkedin: $icon-linkedin,
	youtube: $icon-youtube,
	instagram: $icon-instagram,
	shortlink: $icon-link
);


////////////////////////////////////////
//////////////////////////////////////// UI
////////////////////////////////////////

$tr_bg: map-get( map-get($colors_map, grey), lightest );

$th_bg: map-get( map-get($colors_map, main), darker );
$th_color: $color_white;
$th_font_size: map-get($text_sizes, medium);
$th_align: left;
$th_font_weight: normal;

$td_font_size: map-get($text_sizes, small);
$td_line_height: 1.3;
$td_color: map-get( map-get($colors_map, grey), dark );

$loading-element:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2235%22%20height%3D%2235%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) $color_secondary_regular center center no-repeat;

//loading article manquecura
$loading-article: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22%230F2F54%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) $color_white center center no-repeat;

//loading article pumahue
// $loading-article: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22%2300665D%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) $color_white center center no-repeat;