<section class="modal-box modal-box--slider" data-role="modal-content">
	<div class="slider" data-module="slider">
		<div class="slider__items" data-role="slider-list">
			<div class="slider__slide" data-role="slider-slide">
				<img src="http://placehold.it/1000x800" class="cover-img" alt="Imagen galería">
				<div class="slider__caption">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestiae dolor voluptas sunt consequuntur? Quisquam possimus.</p>
				</div>
			</div>
			<div class="slider__slide" data-role="slider-slide">
				<img src="http://placehold.it/1000x700" class="cover-img" alt="Imagen galería">
				<div class="slider__caption">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero molestiae dolor voluptas sunt consequuntur? Quisquam possimus.</p>
				</div>
			</div>
			<div class="slider__slide" data-role="slider-slide">
				<img src="http://placehold.it/1000x800" class="cover-img" alt="Imagen galería">
			</div>
			<div class="slider__slide" data-role="slider-slide">
				<img src="http://placehold.it/1000x700" class="cover-img" alt="Imagen galería">
			</div>
		</div>

		<div class="slider__arrows">
			<button class="slider__arrow slider__arrow--prev" data-role="slider-arrow" data-direction="prev"></button>
			<button class="slider__arrow slider__arrow--next" data-role="slider-arrow" data-direction="next"></button>
		</div>
	</div>
</section>
<script src="/../../scripts/src/sliders.js"></script>